@model ClienteView.Models.ClienteModelExtended  
    @{
        ViewBag.Title = "ModificarCliente";
        ICollection<ClienteView.Models.TipoClienteModel> tipoClientes = ViewBag.TipoClientes;
        ICollection<ClienteView.Models.EstatusModel> Estatus = ViewBag.Estatus;
    }

    <section class="row justify-content-center align-items-center">
        <div class="col-12 p-3 m-3 bg-light">
            <h1 class="display-4">Nuevo Cliente</h1>
        </div>
        <div class="col-12 col-sm-10">
            <form>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.cliente.Nombre, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.cliente.Nombre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.cliente.Apellidos, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.cliente.Apellidos, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.cliente.Cedula, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.cliente.Cedula, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.cliente.FechaNacimiento, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.cliente.FechaNacimiento, new { type = "datetime", @class = "form-control" })
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.cliente.Telefono, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.cliente.Telefono, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.cliente.Correo, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.cliente.Correo, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.cliente.Direccion, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.cliente.Direccion, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.cliente.Balance, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.cliente.Balance, new { @class = "form-control" })
                </div>
                <div class="row ">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.cliente.TipoClienteId, new { @class = "form-label" })
                            <select class="custom-select" id="tipoCliente">
                                @foreach (var tipo in tipoClientes)
                                {

                                    if (Model.TipoClienteDescripcion == tipo.Descripcion) 
                                    {
                                      <option selected value="@tipo.Id">@tipo.Descripcion</option>
                                    }
                                    else 
                                    {
                                      <option value="@tipo.Id">@tipo.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.cliente.EstatusId, new { @class = "form-label" })
                            <select class="custom-select" id="estatus">
                                @foreach (var tipo in Estatus)
                                {
                                    if (Model.EstatusDescripcion == tipo.Descripcion)
                                    {
                                        <option selected value="@tipo.Id">@tipo.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@tipo.Id">@tipo.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end mb-4 mb-md-0" align-items-center>
                    <div class="col-12 col-md-3">
                        <button id="crearCliente" type="button" class="btn btn-primary btn-lg btn-block">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
